<div class='full-page-container'>
  <h2 class="normal-text">This is your choosen celebrity</h2>
  <div class='info-container'>
    <h3 class="normal-text">Name: {{celebrity.name}}</h3>
    <p class="normal-text">Occupation: {{celebrity.occupation}}</p>
    <p class="normal-text">Phrase: {{celebrity.catchPhrase}}</p>
  </div>
</div>