<div class='full-page-container'>
  <h2 class="normal-text">Edit celebrity</h2>
  <div class='info-container'>
    <form action="/editCelebrity/{{celebrity._id}}" method="POST">
      <p class="normal-text">Name</p>
      <input name="name" placeholder={{celebrity.name}} type="text" class="normal-text">
      <p class="normal-text">Occupation</p>
      <input name="occupation" placeholder={{celebrity.occupation}} type="text" class="normal-text">
      <p class="normal-text">Phrase</p>
      <input name="phrase" placeholder={{celebrity.catchPhrase}} type="text" class="normal-text">
      <p class="normal-text">Submit</p>
      <button type="submit" class="normal-text">Update</button>
    </form>
  </div>
</div>