<h2>Edit movie</h2>
<form action="/editMovie/{{movie._id}}" method="POST">
  <p>Title</p>
  <input name="title" placeholder={{movie.title}} type="text">
  <p>Genre</p>
  <input name="genre" placeholder={{movie.genre}} type="text">
  <p>Plot</p>
  <input name="plot" placeholder={{movie.plot}} type="text">
  <p>Submit</p>
  <button type="submit">Update</button>
</form>
