<div class='full-page-container'>
  <h2 class="normal-text">This is your choosen movie</h2>
  <div class='info-container'>
    <h3 class="normal-text">Title: {{movie.title}}</h3>
    <p class="normal-text">Genre: {{movie.genre}}</p>
    <p class="normal-text">Plot: {{movie.plot}}</p>
  </div>
</div>
