<div class='full-page-container'>
  <h2 class="normal-text">This is your choosen movie</h2>
  <div class='info-container'>
    <h3 class="normal-text">{{movie.title}}</h3>
    <p class="normal-text">{{movie.genre}}</p>
    <p class="normal-text">{{movie.plot}}</p>
  </div>
</div>
