<div class='full-page-container'>
  <h2 class="normal-text">New celebrity</h2>
  <form action="/newCelebrity" method="POST">
    <p class="normal-text">Name</p>
    <input name="name" type="text" class="normal-text">
    <p class="normal-text">Occupation</p>
    <input name="occupation" type="text" class="normal-text">
    <p class="normal-text">Phrase</p>
    <input name="phrase" type="text" class="normal-text">
    <p class="normal-text">Submit</p>
    <button type="submit" class="normal-text">Create</button>
  </form>
</div>