<h2>New celebrity</h2>
<form action="/newCelebrity" method="POST">
  <p>Name</p>
  <input name="name" type="text">
  <p>Occupation</p>
  <input name="occupation" type="text">
  <p>Phrase</p>
  <input name="phrase" type="text">
  <p>Submit</p>
  <button type="submit">Create</button>
</form>